:root {
    --base-color: #315098;
    --main-color: #2e59f3;
    --accent-color: #7bb6e4;
    --search-box: #ebebeb;
    --search-box-inner: #888888;
    --white-color: #fefefe;
    --block-color: #333333;
    --todo-h1: 16px;
    --text: 12px;
    --pickup-text: 24px;
}

html {
    font-family: "Roboto", sans-serif;
}

.header {
    margin: 30px 20px 0;
    display: flex;
    justify-content: space-between;
    h1 {
        color: var(--main-color);
        font-size: var(--pickup-text);
        font-weight: 750;
    }
    .border {
        margin-top: 3px;
        width: 30px;
        height: 20px;
        border-top: 1px solid var(--search-box-inner);
        border-bottom: 1px solid var(--search-box-inner);
        p {
            width: 100%;
            height: 50%;
            border-bottom: 1px solid var(--search-box-inner);
        }
    }
}

.search-task {
    height: 30px;
    margin: 10px 20px 30px;
    background-color: var(--search-box);
    border-radius: 10px;
    position: relative;
    label {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        input {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 38px;
        }
        span {
            width: 20px;
            height: 20px;
            margin-left: 8px;
            margin-bottom: 4px;
        }
    }
}

.todo_lists {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .todo_list {
        height: 50px;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;
        border-bottom: var(--search-box-inner) 1px solid;
        .task_name {
            h2 {
                font-size: var(--todo-h1);
            }
            .tags {
                display: flex;
                align-items: center;
                gap: 5px;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 16px;
                    border-radius: 5px;
                    color: var(--white-color);
                    font-size: var(--text);
                }
                .task_tag {
                    background-color: var(--base-color);
                }
                .event_tag {
                    background-color: var(--main-color);
                }
                .others_tag {
                    background-color: var(--accent-color);
                }
            }
        }
        .task_check {
            width: 30px;
            height: 30px;
            margin-right: 14px;
            input {
                width: 100%;
                height: 100%;
            }
        }
    }
}
