html {
    font-size: 62.5%;
}

.main-visual {
    width: 100vw;
    height: 100vh;
    .main-visual__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    .intro__title {
        font-size: 3.2rem;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .intro__text {
        font-size: 1.6rem;
        text-align: center;
        /* font-weight: bold; */
    }
}

.recipe-list {
    margin-bottom: 100px;
    .recipe-list__items {
        height: 100%;
        display: flex;
        height: 500px;
    }
    .recipe-list__item {
        width: calc(100% / 3);
        height: 100%;
    }
    .recipe-list__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .recipe-list__more {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            width: 232px;
            height: 60px;
            border: solid 1px #2b2a27;
            .recipe-list__link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                color: #2b2a27;
                font-size: 1.4rem;
                text-decoration: none;
                transition: 0.4s;
                &:hover {
                    letter-spacing: 6px;
                }
            }
        }
    }
}

.footer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .footer__nav {
        display: flex;
        justify-content: center;
    }
    .footer__list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 20px;
    }
    .footer__link {
        font-size: 1.2rem;
        color: #2b2a27;
    }
    .footer__copyright {
        font-size: 1.2rem;
    }
}
