html {
    font-size: 62.5%;
}

.mainvisual {
    width: 100vw;
    height: 100vh;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    h1 {
        font-size: 3.2rem;
        margin-bottom: 20px;
        font-weight: bold;
    }
    p {
        font-size: 1.6rem;
        text-align: center;
        /* font-weight: bold; */
    }
}

.flex {
    height: 500px;
    .flex_img {
        height: 100%;
        display: flex;
        height: 100%;
        .flex_img_item {
            width: calc(100% / 3);
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.allrecipe {
    margin: 60px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        width: 232px;
        height: 60px;
        border: solid 1px #2b2a27;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #2b2a27;
            font-size: 1.4rem;
            text-decoration: none;
            transition: 0.4s;
            &:hover {
                letter-spacing: 6px;
            }
        }
    }
}

footer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    nav {
        display: flex;
        justify-content: center;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            gap: 20px;
            li {
                a {
                    font-size: 1.2rem;
                    color: #2b2a27;
                }
            }
        }
    }
    p {
        font-size: 1.2rem;
    }
}
